.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.no {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12rem;
  background-color: #e56969bf;
}

.chart_wrapper {
  max-width: 80rem;
}

.part {
  font-size: 2rem;
  padding: 0 1em;
  background-color: #e2e21863;
}

.total {
  font-size: 3rem;
}

.total pre {
  text-decoration: underline;
  text-decoration-color: aquamarine;
  text-align: center;
}