.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.no {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 12rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-plex);
}

.chart_wrapper {
  font-family: var(--font-plex);
  max-width: 80rem;
}